.mainBox {
    margin: 0 auto;
    width: 40%;
    height: 400px;
    background-color: #F0F0F0;
    border: 1px;
    border-radius: 30px;
}

.mainBox h1 {
    padding-top: 30px;
}

.mainBox button {
    margin-left: 10px;
    border: 1px;
    border-radius: 10px;
    background-color: red;
    height: 30px;
    width: 50px;
    color: white;
}

.mainBox input {
    width: 45%;
}