.mainBox {
    margin: 0 auto;
    padding: 0;
    width: 40%;
    height: 100%;
    background-color: #F0F0F0;
    border: 1px;
    border-radius: 30px;
    overflow: hidden;
}

.todoListBox {
    position:relative;
    width: 100%;
    height: 40%;
}

.todoListBox h1 {
    padding-top: 30px;
}

.todoListBox p {
    font-style:italic;
}

button {
    margin-left: 10px;
    border: 1px;
    border-radius: 10px;
    background-color: red;
    height: 30px;
    width: 50px;
    color: white;
}

.todoListBox input[type=text] {
    width: 45%;
    height: 30px;
}

.todoItemsBox {
    margin-left: 110px;
    margin-top: 10px;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    min-height: 30px;
    height: auto !important;
    float: left;
}

.todoItemsBox input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.todoItemIndex {
    width: 10%;
    float: left;
}

.todoItem {
    float: left;
    width: 80%;
}

.todoItemWithColor {
    float: left;
    width: 80%;
    background-color: #FFCC99;
}

.itemTextWithLine {
    text-decoration: line-through;
}

.selectBox {
    margin-top: 10px;
}

.selectBox a {
    margin-right: 30px;
    font-size: 1.4em;
    color: #CC3333;
}

